@import "src/index";

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $bg-color;
  padding: 0 0 10px;
  box-sizing: border-box;
  max-width: 290px;
  width: 0;
  height: 100%;
  overflow: hidden;
  transition: .8s;

  &.show {
    width: 100%;
  }

  &__logo {
    padding: 19px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    &--img {
      width: 133px;
      height: 22px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 15px;
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;

    &--item {
      padding: 10px 0;
      box-sizing: border-box;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    display: none;
    transition: .1s;
    z-index: 15;

    &.show {
      width: 100%;
    }

    @media screen and (max-width: $md-tablet) {
      display: block;
    }
  }
}
