@import "src/index";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $bg-color;

  &__logo--img {
    width: 133px;
    height: 22px;
  }

  &__links {
    @media screen and (max-width: $md-tablet) {
      display: none;
    }
    &--item.link {
      color: #212529;
      margin: 0 12.5px;
      box-sizing: border-box;
      cursor: pointer;
    }
  }

  &__burger {
    width: 20px;
    height: 15px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    display: none;

    @media screen and (max-width: $md-tablet)  {
      display: flex;
    }

    &--item {
      width: 20px;
      height: 3px;
      background-color: $secondary-color;
    }
  }
}
