@import "src/index";

.form--picker {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-size: 16px;
  color: #212529;

  &__field {
    margin-top: 10px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    padding: 11px 0 9px 14px;
    box-sizing: border-box;
    width: 100%;
    min-height: 38px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &.error {
      border: 1px solid $primary-color;
    }

    &:focus {
      border: 1px solid #80BDFF;
    }

    &--path {
      color: #B2B9C0;
    }

    &--btn.btn {
      min-width: 83px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #F8F7F5;
      color: #212529;
      border-radius: 0 4px 4px 0;

      &:hover {
        background-color: #F8F7F5;
        color: #212529;
      }
    }
  }
}
