@import "src/index";

.header--info {
  background-image: url("../../../assets/img/banner-photo.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 165px 0;

  @media screen and (max-width: $md-tablet) {
    padding: 119px 0 65px;
  }

  @media screen and (max-width: $md-mobile) {
    padding: 130px 0 74.5px;
  }

  &--title {
    color: #ffffff;
    max-width: 532px;
    text-align: left;
    margin-bottom: 20px;

    @media screen and (max-width: $md-mobile) {
      text-align: center;
    }
  }

  &__text {
    color: #ffffff;
    max-width: 532px;
    text-align: left;
    margin: 0 0 30px 0;

    &--item:nth-child(2) {
      display: none;
    }

    @media screen and (max-width: $md-mobile) {
      text-align: center;
      &--item:nth-child(1) {
        display: none;
      }
      &--item:nth-child(2) {
        display: block;
      }
    }
  }

  & .btn {
    @media screen and (max-width: $md-mobile) {
      margin: 0 auto;
    }
  }
}
