@import "src/index";

.register--user {
  padding: 145px 0;

  @media screen and (max-width: $md-tablet) {
    padding: 120px 0;
  }

  @media screen and (max-width: $md-mobile) {
    padding: 70px 0 54.5px;
  }

  &--title {
    margin-bottom: 10px;
  }

  &--subtitle {
    font-size: 16px;
    font-weight: 400;
    max-width: 467px;
    margin: 0 auto 30px;
    line-height: 24px;
  }

  &__form {
    max-width: 930px;
    margin: 0 auto;

    @media screen and (max-width: $md-tablet) {
      max-width: 467.5px;
    }
  }
}
