@import "src/index";

.user {
  max-width: 216px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  &--avatar {
    border-radius: 100%;
    overflow: hidden;
    width: 70px;
    height: 70px;
  }

  &--name {
    margin: 24px 0;
    font-size: 24px;
    font-weight: 400;
  }

  &--description {
    margin-bottom: 15px;
  }

  &--email {
    width: 100%;
    margin-bottom: 12px;
  }
}
