@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Variables:
$md-desktop: 1026px;
$md-tablet: 768px;
$md-mobile: 540px;

$primary-color: #ef5b4c;
$secondary-color: #007bff;
$bg-color: #fff;
$bg-color-2: #f9f9f3;

// Universal styles:
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: $md-desktop){
    max-width: 1000px;
  }

  @media screen and (max-width: $md-tablet){
    max-width: 708px;
  }

  @media screen and (max-width: $md-mobile){
    max-width: 330px;
  }
}

.heading-1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 54px;

  @media screen and (max-width: $md-tablet) {
    font-size: 40px;
    line-height: 44px;
  }

  @media screen and (max-width: $md-mobile) {
    font-size: 30px;
    line-height: 34px;
  }
}

.heading-2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #212529;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

.active--link {
  color: $secondary-color!important;
}

.btn {
  display: inline-block;
  outline: none;
  background-color: $primary-color;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  min-width: 210px;
  padding: 8px 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: #D24335;
    //font-weight: 400;
  }

  &:disabled {
    background-color: #D7D7D7;
    color: #8D8C8C;
    font-weight: 400;
  }
}

.btn--flat {
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  color: $primary-color;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    color: #D24335;
  }
}

.error--message {
  margin-top: 5px;
  font-size: 12px;
  color: $primary-color;
}
