@import "src/index";

.form--label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 24px;
  //text-transform: capitalize;

  &--field {
    outline: none;
    padding: 11px 13px 9px;
    box-sizing: border-box;
    width: 100%;

    border: 1px solid #CED4DA;
    border-radius: 4px;
    font-size: 16px;
    color: #404040;
    margin-top: 10px;

    &.error {
      border: 1px solid $primary-color;
    }

    &:focus {
      border: 1px solid #80BDFF;
    }
  }

  &--message {
    margin: 5px;
    color: #6C757D;
    font-size: 12px;
  }
}
